{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="/static/css/add_pizza.css">
    <img src="{{ pizza_img }}" alt="{{ alt }}">
    <form action="" method="post">
        {{ form.hidden_tag() }}
            <p>
                <h3>{{ form.size.label }}</h3>
                <h4>{{ form.size(class="form-control", type="size") }}</h4>
                {% for error in form.size.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                <h3>{{ form.dough.label }}</h3>
                <h4>{{ form.dough(class="form-control", type="dough") }}</h4>
                {% for error in form.dough.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>

            <p>
                <h3>{{ form.supplements.label }}</h3>
                <h4>{{ form.supplements(class="form-control", type="supplements") }}</h4>
                {% for error in form.supplements.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                <h3>{{ form.sauces.label }}</h3>
                <h4>{{ form.sauces(class="form-control", type="sauces") }}</h4>
                {% for error in form.sauces.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
        </div>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}