{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="/static/css/register.css">
    <h1>Профиль админа</h1>
    <form method="post" enctype="multipart/form-data" action = "" class="form">
        {{ form.hidden_tag() }}
        <p>
            {{ form.type.label }}<br>
            {{ form.type(class="form-control", type="type") }}<br>
            {% for error in form.type.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control", type="name") }}<br>
            {% for error in form.name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.cost.label }}<br>
            {{ form.cost(class="form-control", type="cost") }}<br>
            {% for error in form.cost.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.about.label }}<br>
            {{ form.about(class="form-control", type="about") }}<br>
            {% for error in form.about.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.photo.label }}<br>
            <input type="file" name="photo">
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}