{% extends "base.html" %}

{% block content %}
    {% if discount == 1 %}
        <div class="alert">
            <h3 class=+"text">Поздравляю! Вы получили 10% скидку</h3>
        </div>
    {% endif %}

    <div class="par">
        <center>Пицца</center>
    </div>

    {% for item in pizza %}
        {% if discount == 1 %}
            <div class="pizza_div" onClick='location.href="http://127.0.0.1:5000/add_pizza/{{ item.id }}"'>
                <img class="pizza_img" src={{ short + item.href }}>
                <h3 class="pizza_name">{{ item.name }}</h3>
                <h6 class="pizza_text">{{ item.about }}</h6>
                <strike class="pizza_cost">{{ item.cost }} тг.</strike>
                <h4 class="pizza_cost">{{ item.dis_cost }} тг.</h4>
            </div>
        {% else %}
            <div class="pizza_div" onClick='location.href="http://127.0.0.1:5000/add_pizza/{{ item.id }}"'>
                <img class="pizza_img" src={{ short + item.href }}>
                <h3 class="pizza_name">{{ item.name }}</h3>
                <h6 class="pizza_text">{{ item.about }}</h6>
                <h5 class="pizza_cost">{{ item.cost }} тг.</h5>
            </div>
        {% endif %}
    {% endfor %}

    <div class="par">
        <center>Закуски</center>
    </div>

    {% for item in snack %}
        {% if item.type == "snack" %}
            {% if discount == 1 %}
                <div class="pizza_div" onClick='location.href="http://127.0.0.1:5000/buy/{{ item.name }}"'>
                    <img class="pizza_img" src={{ short + item.href }}>
                    <h3 class="pizza_name">{{ item.name }}</h3>
                    <h6 class="pizza_text">{{ item.about }}</h6>
                    <strike class="pizza_cost">{{ item.cost }} тг.</strike>
                    <h4 class="pizza_cost">{{ item.dis_cost }} тг.</h4>
                </div>
            {% else %}
                <div class="pizza_div" onClick='location.href="http://127.0.0.1:5000/buy/{{ item.name }}"'>
                    <img class="pizza_img" src={{ short + item.href }}>
                    <h3 class="pizza_name">{{ item.name }}</h3>
                    <h6 class="pizza_text">{{ item.about }}</h6>
                    <h5 class="pizza_cost">{{ item.cost }} тг.</h5>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}

    <div class="par">
        <center>Напитки</center>
    </div>

    {% for item in snack %}
        {% if item.type == "drink" %}
            {% if discount == 1 %}
                <div class="pizza_div" onClick='location.href="http://127.0.0.1:5000/buy/{{ item.name }}"'>
                    <img class="pizza_img" src={{ short + item.href }}>
                    <h3 class="pizza_name">{{ item.name }}</h3>
                    <h6 class="pizza_text">{{ item.about }}</h6>
                    <strike class="pizza_cost">{{ item.cost }} тг.</strike>
                    <h4 class="pizza_cost">{{ item.dis_cost }} тг.</h4>
                </div>
            {% else %}
                <div class="pizza_div" onClick='location.href="http://127.0.0.1:5000/buy/{{ item.name }}"'>
                    <img class="pizza_img" src={{ short + item.href }}>
                    <h3 class="pizza_name">{{ item.name }}</h3>
                    <h6 class="pizza_text">{{ item.about }}</h6>
                    <h5 class="pizza_cost">{{ item.cost }} тг.</h5>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}