{% extends "base.html" %}

{% block content %}
    <h1><center>Наши пиццерии</center></h1>
    <center>
        <script type="text/javascript" charset="utf-8"
            async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6f8a3679e81a0798dc6003221198bd3f10e24efd7a780da8325b77bfa6d756ab&amp;width=609&amp;height=488&amp;lang=ru_RU&amp;scroll=true"></script>
    </center>
    <h1><center>Звонок по телефону: 8-701-532-78-65</center></h1>
    <h1><center>Наш адрес: pizzeria.shop@yandex.kz</center></h1>
{% endblock %}