{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="/static/css/map.css">
    <h1>Наши пиццерии</h1>
    <p class="n">
        <script type="text/javascript" charset="utf-8"
            async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6f8a3679e81a0798dc6003221198bd3f10e24efd7a780da8325b77bfa6d756ab&amp;width=609&amp;height=488&amp;lang=ru_RU&amp;scroll=true"></script>
    </p>
    <h1>Звонок по телефону: 8-701-532-78-65</h1>
    <h1>Наш адрес: pizzeria.shop@yandex.kz</h1>
{% endblock %}